[submodule "projetos_aulas/ud851-Sunshine"]
	path = projetos_aulas/ud851-Sunshine
	url = https://github.com/alexferreiradev/ud851-Sunshine.git
[submodule "projetos_aulas/ud851-Exercises"]
	path = projetos_aulas/ud851-Exercises
	url = git@github.com:alexferreiradev/ud851-Exercises.git
[submodule "projetos_aulas/Android_Me"]
	path = projetos_aulas/Android_Me
	url = git@github.com:alexferreiradev/Android_Me.git
[submodule "projetos_aulas/AdvancedAndroid_ClassicalMusicQuiz"]
        path = projetos_aulas/AdvancedAndroid_ClassicalMusicQuiz
        url = git@github.com:alexferreiradev/AdvancedAndroid_ClassicalMusicQuiz.git
[submodule "projetos_aulas/ud867"]
	path = projetos_aulas/ud867
	url = git@github.com:alexferreiradev/ud867.git
