<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.alex.baking.app"
		>

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="com.alex.baking.app.provider.permission.READ_PROVIDER"/>

	<application
			android:allowBackup="false"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/app_name"
			android:supportsRtl="false"
			android:theme="@style/AppTheme"
			tools:ignore="GoogleAppIndexingWarning"
			>
		<provider
				android:name=".data.source.sql.BakingProvider"
				android:authorities="com.alex.baking.app"
				android:enabled="true"
				android:exported="false"
				android:permission="com.alex.baking.app.provider.permission.READ_PROVIDER"
				/>

		<activity android:name=".ui.view.MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".ui.view.RecipeActivity">
			<meta-data
					android:name="android.support.PARENT_ACTIVITY"
					android:value="com.alex.baking.app.ui.view.MainActivity"
					/>
		</activity>
		<activity android:name=".ui.view.StepActivity">
			<meta-data
					android:name="android.support.PARENT_ACTIVITY"
					android:value="com.alex.baking.app.ui.view.MainActivity"
					/>
		</activity>

		<receiver android:name=".debug.BakingWidget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>

			<meta-data
					android:name="android.appwidget.provider"
					android:resource="@xml/baking_widget_info"
					/>
		</receiver>

		<activity android:name=".debug.config.BakingWidgetConfigureActivity">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
			</intent-filter>
		</activity>

		<service
				android:name=".debug.BakingWidgetService"
				android:permission="android.permission.BIND_REMOTEVIEWS"
				/>
	</application>

</manifest>